body {
    border: 0px;
    padding: 0px;
    background: #eee;
}
.title {
    float: left;
    color: #fff;
}
.easyWizardSteps {
    list-style:none;
    width:100%;
    overflow:hidden;
    margin:0;
    padding:0;
    border-bottom:1px solid #ccc;
    margin-bottom:20px
}
.easyWizardSteps li {
    font-size:18px;
    display:inline-block;
    padding:10px;
    color:#B0B1B3;
    margin-right:20px;
}
.easyWizardSteps li span {
    font-size:24px
}
.easyWizardSteps li.current {
    color:#000
}
.easyWizardButtons {
    overflow:hidden;
    padding:10px;
}
.easyWizardButtons .prev {
    float:left
}
.easyWizardButtons .next, .easyWizardButtons .submit {
    float:right
}
#circle {
    margin-top: 20px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 300px;
    height: 300px;
    background: #f86057;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
    color: #fff;
    font-size: 60px;
}
